* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.content{
    padding: 40px;
}

@media screen and (max-width: 390px){
    #intro .container .content{
        padding: 40px 20px;
    }
}