* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    animation: fade-in 2s ease-in-out;
}

ul li {
    list-style: none;
}

.fa, .fab { font-family: 'FontAwesome'; } 

.content{ padding: 40px; }

.container{ padding: 22px; }

.wrap{ margin: 0 50px; }

@media screen and (min-width: 1300px) and (max-width: 5000px){ .wrap { margin: 0 auto; width: 1174px; } }

@media screen and (max-width: 500px){ .container{ padding: 0px; } }

@media screen and (max-width: 390px){ #intro .container .content{ padding: 40px 20px; } }