@keyframes change{
    0%{
      background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


@keyframes up-and-down{
    0%{
        transform: translate(-50%,5%);
    }
    50%{
        transform: translate(-50%,-30%);
    }
    100%{
        transform: translate(-50%,5%);
    }
}

@keyframes shadow-load{
    0%{
        box-shadow: 0 0 0 rgba(0,0,0,.5);
        height: 0;
    }
    50%{
        box-shadow: 0 25px 25px rgba(0,0,0,0.5);
        height: 130px;
    }
    100%{
        box-shadow: 0 0 0 rgba(0,0,0,.5);
        height: 0;
    }
}

@keyframes fade-in{
    0%{
        color: rgba(255,255,255,.0);
    }
    50%{
        color: rgba(255,255,255,.5);
    }
    100%{
        color: #e8e8e7;
    }
}