/* disappier everything when loading class is activated */
.loading #about-me, 
.loading #contact-me, 
.loading div,
.loading .toolbar{
    display: none;
}

.loading .load{
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loading .load .trace{
    width: 10px;
    height: 130px;
    margin: 0 5px;
    background: #009094;
    background-size: 400%, 400%;
    border-radius: 30px;
    animation: shadow-load 1s infinite;
}

/* Function that creates the effect load */
.loading .trace:nth-child(2){ animation-delay: 0.1s; }
.loading .trace:nth-child(3){ animation-delay: 0.2s; }
.loading .trace:nth-child(4){ animation-delay: 0.3s; }
.loading .trace:nth-child(5){ animation-delay: 0.4s; }
.loading .trace:nth-child(6){ animation-delay: 0.5s; }
.loading .trace:nth-child(7){ animation-delay: 0.6s; }
.loading .trace:nth-child(8){ animation-delay: 0.7s; }