#job{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.03);
}

#job .wrap .container .content h2{
    text-align: center;
    margin: 0 0 30px 0;
    font-family: 'DM Mono', monospace;
}

#job .wrap .container .content .table{
    display: inline-block;
}

#job .wrap .container .content .table .card{
    display: inline-block;
}

#job .wrap .container .content .table .card .work{
    width: 35%;
    display: inline-block;
    background: rgba(0,0,0,0.07);
}
#job .wrap .container .content .table .card .work .container .title-year-work{
    display: flex;
    text-align: end;
    flex-direction: column;
}

#job .wrap .container .content .table .card .work .container .title-year-work h3{
    font-family: 'DM Mono', monospace;
}

#job .wrap .container .content .table .card .work .container .title-year-work p{
    color: #8e8e8e;
    font-family: 'Raleway', sans-serif;
}

#job .wrap .container .content .table .card .work-details{
    width: 65%;
    display: block;
    float: right;
    position: relative;
}
#job .wrap .container .content .table .card .work-details img{
    width: 80px;
    position: absolute;
    top: -40px;
    left: -40px;
}

#job .wrap .container .content .table .card .work-details .container{
    border-left: 1px solid black;
}

#job .wrap .container .content .table .card .work-details .container h4{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-family: 'Raleway', sans-serif;
}
#job .wrap .container .content .table .card .work-details .container p,
#job .wrap .container .content .table .card .work-details .container a{
    margin: 30px 0px;
    color: #8e8e8e;
    font-family: 'DM Mono', monospace;
}


@media screen and (max-width: 800px){
    #job {
        height: 100%;
    }

    #job .wrap{
        margin: 0 10px;
    }

    #job .wrap .container .content {
        padding: 20px;
    }
}

@media screen and (max-width: 501px){
    #job .wrap .container .content .table .card .work{
        background: none;
        width: 100%;
    }
    #job .wrap .container .content .table .card .work .container .title-year-work{
        width: 100%;
        margin-left: 25px;
        text-align: unset;
    }

    #job .wrap .container .content .table .card .work-details{
        width: 100%;
    }

    #job .wrap .container .content .table .card .work-details img{
        width: 40px;
        top: -35px;
        left: -20px;
    }
    #job .wrap .container .content .table .card .work-details .container{
        padding: 20px 0px 0px 10px;
    }

}