#about-me{  
    height: 100%;
    width: 100%;
}

#about-me .wrap .container .photo{
    width: 50%;
    text-align: center;
    display: inline-block;
}

#about-me .wrap .container .photo img{
    border-radius: 100px;
}

#about-me .wrap .container .description{
    width: 50%;
    float: right;
}

#about-me .wrap .container .description h2{
    /* font-family: 'DM Mono', monospace; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}

#about-me .wrap .container .description tr th{
    float: left;
    font-family: 'DM Mono', monospace;
}
#about-me .wrap .container .description tr td{
    font-family: 'Raleway', sans-serif;
}

#about-me .wrap .container .description p,
#about-me .wrap .container .description p a{
    font-family: 'DM Mono', monospace;
    margin: 20px 0px;
    text-align: justify;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Montserrat',sans-serif; */
}
#about-me .wrap .container .description p a{
    color: rgb(43, 120, 139);
    text-decoration: solid;
}

#about-me .wrap .container .field{
    /* margin-top: 60px; */
}

#about-me .wrap .container .field .field-title{
    /* font-family: 'Montserrat',sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'DM Mono', monospace;
    font-weight: bold;
    font-size: 30px;
}

#about-me .wrap .container .field .field-description{
    /* font-family: 'Montserrat',sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'DM Mono', monospace;
    font-size: 18px;
}

@media screen and (max-width: 900px){
    #intro .toolbar ul li{
        width: 50%;
    }
    
    #intro .container .content .presentation h1{
        font-size: 32px;
    }

    #intro .low-down{
        padding: 15px;
    }

    #intro .low-down img{
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 600px){
    #about-me .wrap .container .photo, #about-me .wrap .container .description{
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    #about-me .wrap{
        margin: 10px;
    }
}