.toolbar {
    height: 120px;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 2;
}

.toolbar ul{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.toolbar ul li{
    display: inline-block;
    font-family: 'DM Mono', monospace;
    color: #e8e8e7;
    text-align: center;
    width: 30%;
    cursor: pointer;
}

.toolbar ul .about{
    float: right;
}

.toolbar ul .about:hover{
    font-weight: 700;
}

.toolbar ul .contact:hover{
    font-weight: 700;
}