#intro{
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg,#13B88F,#009094, #006684, #023D5F);
    background-size: 400%, 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    display: table;
}

#intro .container{
    text-align: center;
    margin-top: 120px;
}

#intro .container .content .presentation{
    padding: 30px 0px;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#intro .container .content .presentation h1{
    color: #e8e8e7;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
}

#intro .container .content .presentation p span{
    color: #e8e8e7;
    font-family: 'DM Mono', monospace;
    /* font-family: 'Raleway', sans-serif; */
}

#intro .low-down{
    text-align: center;
    position: absolute;
    bottom: 40px;
    transform: translate(-50%,0%);
    left: 50%;
    animation: up-and-down 3s ease-in-out infinite;
    cursor: pointer;
}

#intro .low-down img{
    width: 40px;
    height: 40px;
    opacity: 0.5;
}